<%- include("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <%if(currentUser){%>
            <h1>Welcome To MediLona!</h1>
            <p>Your Medicines :-</p>
            <p>
               <a class="btn btn-primary btn-large" href="/medicine/new">Add New Medicine</a>
            </p>
            <% } else{%>
            <p>Please Login or SignUp</p>
            <%}%>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
       <% medicines.forEach(function(medicine){ %>

        <%if(currentUser && medicine.author.id.equals(currentUser._id)){%>
           <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS585BAHWIIYhAr3LOsi2PRe-GBmC0l5twNiUA1JpkZjoULnhJ7&usqp=CAU">
                  <div class="caption">
                      <h4><%= medicine.name %></h4>
                  </div>
                  <p>
                      <a href="/medicine/<%= medicine._id %>" class="btn btn-primary">More Info</a>
                  </p>
               </div>
           </div>
           <% } %>
       <% }); %>
   </div>
</div>

<%- include("../partials/footer") %>
